<div class='container'>
 <h1>Welcome To Login Fun!</h1>
 <h2>All You Do Here Is Login - This is going to be fun!</h2>
 <h3>Create An Account</h3>
 <form action='/create' method='post'>
  <input type='text'   value='email'>
  <input type='text'   value='password'>
  <input type='submit' value='create'>
</form>

 <h3>Login</h3>
 <form action='/login' method='post'>
  <input type='text'   value='email'>
  <input type='text'   value='password'>
  <input type='submit' value='login'>
</form>

 <h3>Logout</h3>
 <form action='/logout' method='post'>
  <input type='submit' value='logout'>
</form>

</div>
